/* Add CSS styling here */
header{
    display:flex;
    justify-content: space-between;
    border: 3px solid black;
}

.navigation{
    display:flex
    justify-content: space-evenly;
    align-items: center;

}

.content{
    display:flex;
    justify-content: center;
    align-items: center;
}

.centerContent{
    width: 500px;
    height: 500px;
    border: solid black;
    text-align: center;
}

.project{
    display:flex;
    justify-content: center;
    align-items: center;
    border: solid black;
}

.projectBoxes {
    display: flex;
    flex-flow: wrap;
    width: 90%;
}

.projectBoxes > div {
    align-items: center;
    width: 300px;
    height: 300px;
    border: solid black;
    margin: 5px;
}

.contact{
    border: solid black;
    text-align: center;
    height: 100px;
}