/* Add CSS styling here */
body{
    background-image: url(https://i.picsum.photos/id/1033/2048/1365.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: "Andale Mono",AndaleMono,monospace;
}

.container{
    margin: auto;
    width: 1000px ;
    max-width:auto;

}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: black, .08;
    
}
h1 {
    color:#d1d1d1;
    font-stretch: expanded;
    font-size: 2.75rem;
}

h2{
    color:#f3eded;
    font-stretch: expanded;
    font-size: 1.75rem;
}

h3{
    color:#f3eded;
    font-stretch: expanded;
    font-size: 1rem;
}

.projectsButton{
    color:#f3eded;
    font-stretch: expanded;
    font-size: 1rem;
}

button{
    
    color: #f3eded;
    background-color:rgba(0, 0, 0, 0.25);
    font-size: .75rem;
    padding: .75rem 1.5rem;
    border-radius: 1rem;
    font-family: "Andale Mono",AndaleMono,monospace;

}
a{
    text-decoration: none;
    color: #d1d1d1;

}
.navigation{
    display:flex
    font-size: 1.75rem;
    
}

.content{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    margin: auto;
    width:35rem;
    height:13rem;
    border-radius: .9rem;
}

.centerContent{
    width: auto;
    height: auto;
    text-align: center;
}

.projects{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projectBoxes {
    display: flex;
    flex-flow:wrap;
    margin:auto;
    color:#d1d1d1;   
    text-align: center;

}

.projectBoxes > div {
    align-items: center;
    justify-content: space-evenly;
    width: 15rem;
    height: 15rem;
    margin: 2.25rem;
}

.contact{
    text-align: center;
    align-content: center;
    margin: 2rem;
    height: 6rem;
    font-size: 2rem;
}

.contact p{
    display: Flex;
    justify-content: space-evenly;
}

@media(max-width: 800px){

}

@media(max-width:500px){
    .container{
        width:100%
    }
    h1{
        display:none;
    }

    .header{
        width: 100%;
    }

    .content{
        width: 100%;
        border:white 1px;
    }

    .projectBoxes{
        flex-direction: column;
    }
    .contact{
        width:100%;
       
    }

     
}